.idea
.vscode

*_Spoiler.txt
*.bmbp
*.apbp
*.apcivvi
*.apl2ac
*.apm3
*.apmc
*.apz5
*.aptloz
*.aptww
*.apemerald
*.pyc
*.pyd
*.sfc
*.z64
*.n64
*.nes
*.smc
*.sms
*.gb
*.gbc
*.gba
*.nds
*.iso
*.wixobj
*.lck
*.db3
*multidata
*multisave
*.archipelago
*.apsave
*.BIN
*.puml

setups
build
bundle/components.wxs
dist
/prof/
README.html
.vs/
EnemizerCLI/
/Players/
/SNI/
/sni-*/
/appimagetool*
/VC_redist.x64.exe
/host.yaml
/options.yaml
/config.yaml
/logs/
_persistent_storage.yaml
mystery_result_*.yaml
*-errors.txt
success.txt
output/
Output Logs/
/factorio/
/WebHostLib/static/generated
/freeze_requirements.txt
/Archipelago.zip
/setup.ini
/installdelete.iss
/data/user.kv
/data/jak1/
/datapackage
/datapackage_export.json
/custom_worlds
# stubgen output
/out/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dll

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
installer.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# vim editor
*.swp

# SageMath parsed files
*.sage.py

# Environments
.env
.venv*
env/
venv/
/venv*/
ENV/
env.bak/
venv.bak/
*.code-workspace
shell.nix

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Cython intermediates
_speedups.c
_speedups.cpp
_speedups.html

# pyenv
.python-version

#undertale stuff
/Undertale/

# OS General Files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
[Dd]esktop.ini
/Sonic Heroes Object CheckPoint Instances.txt
/Sonic Heroes Object EggHammer Instances.txt
/fuzz_output
/data/sprites/alttpr/abigail.1.zspr
/data/sprites/alttpr/adol.1.zspr
/data/sprites/alttpr/adventure-2600.1.zspr
/data/sprites/alttpr/aggretsuko.1.zspr
/data/sprites/alttpr/agrias.1.zspr
/data/sprites/alttpr/alcoon.1.zspr
/data/sprites/alttpr/alex.1.zspr
/data/sprites/alttpr/alice.1.zspr
/data/sprites/alttpr/angel.1.zspr
/data/sprites/alttpr/angry-video-game-nerd.1.zspr
/data/sprites/alttpr/anna-lavellan.1.zspr
/data/sprites/alttpr/arcane.1.zspr
/data/sprites/alttpr/archen.1.zspr
/data/sprites/alttpr/arctic-artemis.1.zspr
/data/sprites/alttpr/arcturus-chusky.1.zspr
/data/sprites/alttpr/aria.1.zspr
/data/sprites/alttpr/ark.1.zspr
/data/sprites/alttpr/ark-dorana.2.zspr
/data/sprites/alttpr/arrghus.3.zspr
/data/sprites/alttpr/astor.1.zspr
/data/sprites/alttpr/astronaut.2.zspr
/data/sprites/alttpr/asuna.2.zspr
/data/sprites/alttpr/axolotl.1.zspr
/data/sprites/alttpr/baba.2.zspr
/data/sprites/alttpr/baby-fro-mocha.1.zspr
/data/sprites/alttpr/badeline.1.zspr
/data/sprites/alttpr/bananas-in-pyjamas.1.zspr
/data/sprites/alttpr/bandit.1.zspr
/data/sprites/alttpr/batman.1.zspr
/data/sprites/alttpr/bavarian-link.1.zspr
/data/sprites/alttpr/beau.1.zspr
/data/sprites/alttpr/bee.1.zspr
/data/sprites/alttpr/bewp.1.zspr
/data/sprites/alttpr/bigkey.2.zspr
/data/sprites/alttpr/birb.2.zspr
/data/sprites/alttpr/birb-of-paradise.1.zspr
/data/sprites/alttpr/birdfruit.1.zspr
/data/sprites/alttpr/birdo.1.zspr
/data/sprites/alttpr/blackmage.1.zspr
/data/sprites/alttpr/blacksmithlink.1.zspr
/data/sprites/alttpr/blazer.1.zspr
/data/sprites/alttpr/blossom.1.zspr
/data/sprites/alttpr/blue.1.zspr
/data/sprites/alttpr/bob.2.zspr
/data/sprites/alttpr/bobross.1.zspr
/data/sprites/alttpr/boco.2.zspr
/data/sprites/alttpr/bomberman.1.zspr
/data/sprites/alttpr/boo.2.zspr
/data/sprites/alttpr/boo-two.1.zspr
/data/sprites/alttpr/bottle_o_goo.1.zspr
/data/sprites/alttpr/botw-link.2.zspr
/data/sprites/alttpr/botw-zelda.1.zspr
/data/sprites/alttpr/bowser.1.zspr
/data/sprites/alttpr/bowsette.2.zspr
/data/sprites/alttpr/bowsette_red.2.zspr
/data/sprites/alttpr/branch.1.zspr
/data/sprites/alttpr/brian.1.zspr
/data/sprites/alttpr/broccoli.2.zspr
/data/sprites/alttpr/bronzor.2.zspr
/data/sprites/alttpr/bsboy.1.zspr
/data/sprites/alttpr/bsgirl.1.zspr
/data/sprites/alttpr/bubblen.1.zspr
/data/sprites/alttpr/bubbles.1.zspr
/data/sprites/alttpr/bullet_bill.1.zspr
/data/sprites/alttpr/buttercup.1.zspr
/data/sprites/alttpr/cactuar.1.zspr
/data/sprites/alttpr/cadence.1.zspr
/data/sprites/alttpr/captain-novolin.1.zspr
/data/sprites/alttpr/carlsagan42.1.zspr
/data/sprites/alttpr/casual-zelda.1.zspr
/data/sprites/alttpr/cat.3.zspr
/data/sprites/alttpr/catboo.1.zspr
/data/sprites/alttpr/catgirl-hidari.1.zspr
/data/sprites/alttpr/cdilink.1.zspr
/data/sprites/alttpr/celes.1.zspr
/data/sprites/alttpr/centaur-enos.1.zspr
/data/sprites/alttpr/charizard.1.zspr
/data/sprites/alttpr/cheepcheep.1.zspr
/data/sprites/alttpr/chef-pepper.1.zspr
/data/sprites/alttpr/chibity.1.zspr
/data/sprites/alttpr/chrizzz.1.zspr
/data/sprites/alttpr/cinna.2.zspr
/data/sprites/alttpr/cirno.1.zspr
/data/sprites/alttpr/clifford.2.zspr
/data/sprites/alttpr/clippy.1.zspr
/data/sprites/alttpr/cloud.1.zspr
/data/sprites/alttpr/clyde.1.zspr
/data/sprites/alttpr/conker.1.zspr
/data/sprites/alttpr/conker-neo.1.zspr
/data/sprites/alttpr/cool-90s-bun.1.zspr
/data/sprites/alttpr/cool-90s-link.1.zspr
/CoolerREADME.md
/data/sprites/alttpr/cornelius.1.zspr
/data/sprites/alttpr/corona.2.zspr
/data/sprites/alttpr/cousin-knol.1.zspr
/data/sprites/alttpr/crewmate.2.zspr
/data/sprites/alttpr/crono.2.zspr
/data/sprites/alttpr/cucco.3.zspr
/data/sprites/alttpr/cursor.2.zspr
/data/sprites/alttpr/d_owls.2.zspr
/data/sprites/alttpr/dark-link-z2.1.zspr
/data/sprites/alttpr/dark-matter.1.zspr
/data/sprites/alttpr/dark-panda.1.zspr
/data/sprites/alttpr/darkboy.1.zspr
/data/sprites/alttpr/darkgirl.1.zspr
/data/sprites/alttpr/darklink.1.zspr
/data/sprites/alttpr/darklink-tunic.1.zspr
/data/sprites/alttpr/darkswatchy.2.zspr
/data/sprites/alttpr/darkzelda.1.zspr
/data/sprites/alttpr/darkzora.2.zspr
/data/sprites/alttpr/deadpool.1.zspr
/data/sprites/alttpr/deadpool-mythic.1.zspr
/data/sprites/alttpr/deadrock.1.zspr
/data/sprites/alttpr/decidueye.1.zspr
/data/sprites/alttpr/dekar.1.zspr
/data/sprites/alttpr/dennsen86.1.zspr
/data/sprites/alttpr/diddy-kong.1.zspr
/data/sprites/alttpr/digdug.1.zspr
/data/sprites/alttpr/dipper.1.zspr
/data/sprites/alttpr/discord-mlp.1.zspr
/data/sprites/alttpr/dot_lvl.1.zspr
/data/sprites/alttpr/dragonair.2.zspr
/data/sprites/alttpr/dragonite.2.zspr
/data/sprites/alttpr/drak.1.zspr
/data/sprites/alttpr/drake.2.zspr
/data/sprites/alttpr/drawcia.1.zspr
/data/sprites/alttpr/eevee.2.zspr
/data/sprites/alttpr/eggplant.1.zspr
/data/sprites/alttpr/eirika.1.zspr
/data/sprites/alttpr/elfilin.1.zspr
/data/sprites/alttpr/ema-skye.1.zspr
/data/sprites/alttpr/emosaru.1.zspr
/data/sprites/alttpr/espeon.2.zspr
/data/sprites/alttpr/ezlo.1.zspr
/data/sprites/alttpr/fi.1.zspr
/data/sprites/alttpr/fierce-deity-link.3.zspr
/data/sprites/alttpr/finn.3.zspr
/data/sprites/alttpr/finny_bear.1.zspr
/data/sprites/alttpr/fish_floodgate.1.zspr
/data/sprites/alttpr/flareon.1.zspr
/data/sprites/alttpr/flavor_guy.1.zspr
/data/sprites/alttpr/fourswordslink.3.zspr
/data/sprites/alttpr/foxlink.1.zspr
/data/sprites/alttpr/fransen.1.zspr
/data/sprites/alttpr/freya.1.zspr
/data/sprites/alttpr/frisk.2.zspr
/data/sprites/alttpr/froglink.4.zspr
/data/sprites/alttpr/fujin.2.zspr
/data/sprites/alttpr/future_trunks.1.zspr
/fuzz.py
/fuzzer_meta.yaml
/data/sprites/alttpr/gamer.2.zspr
/data/sprites/alttpr/gametal.1.zspr
/data/sprites/alttpr/ganon.2.zspr
/data/sprites/alttpr/ganondorf.2.zspr
/data/sprites/alttpr/garfield.2.zspr
/data/sprites/alttpr/garnet.1.zspr
/data/sprites/alttpr/garomaster.1.zspr
/data/sprites/alttpr/gbc-link.1.zspr
/data/sprites/alttpr/geno.2.zspr
/data/sprites/alttpr/gina_lestrade.1.zspr
/data/sprites/alttpr/gliitchwiitch.1.zspr
/data/sprites/alttpr/glove-color-link.1.zspr
/data/sprites/alttpr/go-mode.1.zspr
/data/sprites/alttpr/gobli.1.zspr
/data/sprites/alttpr/goemon.1.zspr
/data/sprites/alttpr/gooey.2.zspr
/data/sprites/alttpr/goomba.1.zspr
/data/sprites/alttpr/goose.1.zspr
/data/sprites/alttpr/graalian-noob.1.zspr
/data/sprites/alttpr/grandpoobear.2.zspr
/data/sprites/alttpr/gretis.1.zspr
/data/sprites/alttpr/growlithe.2.zspr
/data/sprites/alttpr/grunclestan.1.zspr
/data/sprites/alttpr/guandar.1.zspr
/data/sprites/alttpr/guiz.2.zspr
/data/sprites/alttpr/hainz_the_blahaj.1.zspr
/data/sprites/alttpr/hamtaro.1.zspr
/data/sprites/alttpr/hanna.2.zspr
/data/sprites/alttpr/hardhat_beetle.1.zspr
/data/sprites/alttpr/hat-kid.1.zspr
/data/sprites/alttpr/head-link.1.zspr
/data/sprites/alttpr/headlesslink.2.zspr
/data/sprites/alttpr/heem.1.zspr
/data/sprites/alttpr/hello_kitty.1.zspr
/data/sprites/alttpr/hero-of-awakening.2.zspr
/data/sprites/alttpr/hero-of-hyrule.2.zspr
/data/sprites/alttpr/hint_tile.1.zspr
/data/sprites/alttpr/hoarder-bush.1.zspr
/data/sprites/alttpr/hoarder-pot.1.zspr
/data/sprites/alttpr/hoarder-rock.1.zspr
/data/sprites/alttpr/hollow-knight.2.zspr
/data/sprites/alttpr/hollow-knight-winter.1.zspr
/data/sprites/alttpr/homer.1.zspr
/data/sprites/alttpr/hornet.2.zspr
/data/sprites/alttpr/horse.1.zspr
/data/sprites/alttpr/hotdog.1.zspr
/data/sprites/alttpr/hyruleknight.1.zspr
/data/sprites/alttpr/ibazly.1.zspr
/data/sprites/alttpr/ignignokt.3.zspr
/data/sprites/alttpr/imani.1.zspr
/data/sprites/alttpr/informant_woman.1.zspr
/data/sprites/alttpr/inkling.1.zspr
/data/sprites/alttpr/invisibleman.2.zspr
/data/sprites/alttpr/isabelle.1.zspr
/data/sprites/alttpr/jack-frost.1.zspr
/data/sprites/alttpr/jason_frudnick.1.zspr
/data/sprites/alttpr/jasp.1.zspr
/data/sprites/alttpr/jogurt.1.zspr
/data/sprites/alttpr/jolteon.1.zspr
/data/sprites/alttpr/josh-triangles.1.zspr
/data/sprites/alttpr/juste-belmont.1.zspr
/data/sprites/alttpr/juz.1.zspr
/data/sprites/alttpr/kaguya.1.zspr
/data/sprites/alttpr/kain.2.zspr
/data/sprites/alttpr/kakyoin.1.zspr
/data/sprites/alttpr/katsura.2.zspr
/data/sprites/alttpr/kecleon.1.zspr
/data/sprites/alttpr/kefka.2.zspr
/data/sprites/alttpr/kenny_mccormick.1.zspr
/data/sprites/alttpr/ketchup.1.zspr
/data/sprites/alttpr/kholdstare.2.zspr
/data/sprites/alttpr/king_gothalion.1.zspr
/data/sprites/alttpr/king_graham.2.zspr
/data/sprites/alttpr/kinu.1.zspr
/data/sprites/alttpr/kira.1.zspr
/data/sprites/alttpr/kirby-d3.2.zspr
/data/sprites/alttpr/kirby-meta.1.zspr
/data/sprites/alttpr/kite.2.zspr
/data/sprites/alttpr/koda.1.zspr
/data/sprites/alttpr/koopa.1.zspr
/data/sprites/alttpr/koragi.1.zspr
/data/sprites/alttpr/kore8.1.zspr
/data/sprites/alttpr/korok.1.zspr
/data/sprites/alttpr/kris.1.zspr
/data/sprites/alttpr/krissy.1.zspr
/data/sprites/alttpr/kriv.1.zspr
/data/sprites/alttpr/kromb.1.zspr
/data/sprites/alttpr/lakitu.1.zspr
/data/sprites/alttpr/lanux.1.zspr
/data/sprites/alttpr/lapras.1.zspr
/data/sprites/alttpr/latias.1.zspr
/data/sprites/alttpr/latios.1.zspr
/data/sprites/alttpr/leafeon.1.zspr
/data/sprites/alttpr/league-mascot.1.zspr
/data/sprites/alttpr/leongar.1.zspr
/data/sprites/alttpr/lest.1.zspr
/data/sprites/alttpr/lestat.1.zspr
/data/sprites/alttpr/lily.1.zspr
/data/sprites/alttpr/linja.1.zspr
/data/sprites/alttpr/link-redrawn.4.zspr
/data/sprites/alttpr/link-z1.1.zspr
/data/sprites/alttpr/linkhatcolor.1.zspr
/data/sprites/alttpr/linktuniccolor.1.zspr
/data/sprites/alttpr/little-hylian.1.zspr
/data/sprites/alttpr/littlepony.1.zspr
/data/sprites/alttpr/locke.1.zspr
/data/sprites/alttpr/locke_merchant.1.zspr
/LogicSH_world.svg
/LogicSH_world_t.svg
/LogicSH_world_test.svg
/data/sprites/alttpr/lord-hoell.1.zspr
/data/sprites/alttpr/lucario.1.zspr
/data/sprites/alttpr/lucas.1.zspr
/data/sprites/alttpr/luckwurst-joe.1.zspr
/data/sprites/alttpr/luffy.2.zspr
/data/sprites/alttpr/lugia.1.zspr
/data/sprites/alttpr/luigi.1.zspr
/data/sprites/alttpr/lumberjack.1.zspr
/data/sprites/alttpr/luna-maindo.1.zspr
/data/sprites/alttpr/lycanroc.1.zspr
/data/sprites/alttpr/lynea.1.zspr
/data/sprites/alttpr/lynel-botw.1.zspr
/data/sprites/alttpr/mad_tears.1.zspr
/data/sprites/alttpr/madeline.1.zspr
/data/sprites/alttpr/magus.1.zspr
/data/sprites/alttpr/maiden.1.zspr
/data/sprites/alttpr/majora.1.zspr
/data/sprites/alttpr/mallow-cat.1.zspr
/data/sprites/alttpr/mangalink.3.zspr
/data/sprites/alttpr/maplequeen.2.zspr
/data/sprites/alttpr/marin.2.zspr
/data/sprites/alttpr/mario-classic.2.zspr
/data/sprites/alttpr/mario_tanooki.2.zspr
/data/sprites/alttpr/mariocappy.1.zspr
/data/sprites/alttpr/marisa.1.zspr
/data/sprites/alttpr/matthias.1.zspr
/data/sprites/alttpr/meatwad.2.zspr
/data/sprites/alttpr/medallions.2.zspr
/data/sprites/alttpr/medli.1.zspr
/data/sprites/alttpr/megaman.1.zspr
/data/sprites/alttpr/megaman-x.2.zspr
/data/sprites/alttpr/megaman-x2.1.zspr
/data/sprites/alttpr/metaknight.1.zspr
/data/sprites/alttpr/meteion.1.zspr
/data/sprites/alttpr/metroid.1.zspr
/data/sprites/alttpr/mew.1.zspr
/data/sprites/alttpr/mike-jones.2.zspr
/data/sprites/alttpr/milly.1.zspr
/data/sprites/alttpr/mimic.1.zspr
/data/sprites/alttpr/mimikyu.1.zspr
/data/sprites/alttpr/minish_link.1.zspr
/data/sprites/alttpr/minishcaplink.3.zspr
/data/sprites/alttpr/mipha.2.zspr
/data/sprites/alttpr/missingno.2.zspr
/data/sprites/alttpr/moblin.2.zspr
/data/sprites/alttpr/modernlink.1.zspr
/data/sprites/alttpr/moechicken.1.zspr
/data/sprites/alttpr/momiji.1.zspr
/data/sprites/alttpr/moosh.1.zspr
/data/sprites/alttpr/mouse.1.zspr
/data/sprites/alttpr/ms-paintdog.2.zspr
/data/sprites/alttpr/mushy.1.zspr
/data/sprites/alttpr/naturelink.1.zspr
/data/sprites/alttpr/navi.1.zspr
/data/sprites/alttpr/navirou.3.zspr
/data/sprites/alttpr/nayada.1.zspr
/data/sprites/alttpr/necrosky90.1.zspr
/data/sprites/alttpr/ned-flanders.1.zspr
/data/sprites/alttpr/negativelink.1.zspr
/data/sprites/alttpr/nekoni_hoozuki.1.zspr
/data/sprites/alttpr/neosad.2.zspr
/data/sprites/alttpr/nepgear.1.zspr
/data/sprites/alttpr/neptune.1.zspr
/data/sprites/alttpr/neslink.3.zspr
/data/sprites/alttpr/ness.2.zspr
/data/sprites/alttpr/nia.1.zspr
/data/sprites/alttpr/niddraig.2.zspr
/data/sprites/alttpr/niko.1.zspr
/data/sprites/alttpr/ninten.1.zspr
/data/sprites/alttpr/octorok.1.zspr
/data/sprites/alttpr/olde-man.1.zspr
/data/sprites/alttpr/oldman.2.zspr
/data/sprites/alttpr/ori.2.zspr
/data/sprites/alttpr/outlinelink.1.zspr
/data/sprites/alttpr/paper-mario.1.zspr
/data/sprites/alttpr/parallelworldslink.1.zspr
/data/sprites/alttpr/patia.1.zspr
/data/sprites/alttpr/paul-s-woodman.1.zspr
/data/sprites/alttpr/paula.1.zspr
/data/sprites/alttpr/peach.1.zspr
/data/sprites/alttpr/penguinlink.2.zspr
/data/sprites/alttpr/pete.2.zspr
/data/sprites/alttpr/phoenix-wright.1.zspr
/data/sprites/alttpr/pikachu.2.zspr
/data/sprites/alttpr/pinkribbonlink.3.zspr
/data/sprites/alttpr/piranha_plant.1.zspr
/data/sprites/alttpr/plagueknight.2.zspr
/data/sprites/alttpr/plouni.1.zspr
/data/sprites/alttpr/poc-link.1.zspr
/data/sprites/alttpr/pokey.3.zspr
/data/sprites/alttpr/popoi.1.zspr
/data/sprites/alttpr/poppy.1.zspr
/data/sprites/alttpr/porg_knight.1.zspr
/data/sprites/alttpr/power-pigg.1.zspr
/data/sprites/alttpr/power-ranger.1.zspr
/data/sprites/alttpr/powerpuff_girl.2.zspr
/data/sprites/alttpr/pridelink.2.zspr
/data/sprites/alttpr/primm.1.zspr
/data/sprites/alttpr/princess_bubblegum.1.zspr
/data/sprites/alttpr/prof-renderer-grizzleton.2.zspr
/data/sprites/alttpr/professor.1.zspr
/data/sprites/alttpr/protogen.1.zspr
/data/sprites/alttpr/psyduck.2.zspr
/data/sprites/alttpr/pug.1.zspr
/data/sprites/alttpr/purplechest-bottle.2.zspr
/data/sprites/alttpr/pyro.1.zspr
/data/sprites/alttpr/quadbanger.1.zspr
/data/sprites/alttpr/rainbowlink.2.zspr
/data/sprites/alttpr/randi.1.zspr
/data/sprites/alttpr/rash.1.zspr
/data/sprites/alttpr/rat.2.zspr
/data/sprites/alttpr/red.1.zspr
/data/sprites/alttpr/red-mage.1.zspr
/data/sprites/alttpr/reimu-hoxnorf.2.zspr
/data/sprites/alttpr/reimu-rickyofkokiri.1.zspr
/data/sprites/alttpr/remeer.1.zspr
/data/sprites/alttpr/remus-ruldufus-black.1.zspr
/data/sprites/alttpr/renoko.1.zspr
/data/sprites/alttpr/reverse-mails.1.zspr
/data/sprites/alttpr/rick.2.zspr
/data/sprites/alttpr/robotlink.2.zspr
/data/sprites/alttpr/rocko.2.zspr
/data/sprites/alttpr/rocky.1.zspr
/data/sprites/alttpr/roronoa-zoro.1.zspr
/data/sprites/alttpr/rottytops.2.zspr
/data/sprites/alttpr/rover.1.zspr
/data/sprites/alttpr/roykoopa.1.zspr
/data/sprites/alttpr/rozalyndis.1.zspr
/data/sprites/alttpr/rumia.1.zspr
/data/sprites/alttpr/rydia.1.zspr
/data/sprites/alttpr/ryu.2.zspr
/data/sprites/alttpr/sailor-jupiter.1.zspr
/data/sprites/alttpr/sailor-mars.1.zspr
/data/sprites/alttpr/sailor-mercury.1.zspr
/data/sprites/alttpr/sailor-saturn.1.zspr
/data/sprites/alttpr/sailor-venus.1.zspr
/data/sprites/alttpr/sailormoon.2.zspr
/data/sprites/alttpr/saitama.2.zspr
/data/sprites/alttpr/samurott.1.zspr
/data/sprites/alttpr/samus.2.zspr
/data/sprites/alttpr/samus-sm.1.zspr
/data/sprites/alttpr/samus_classic.1.zspr
/data/sprites/alttpr/sans-carld.1.zspr
/data/sprites/alttpr/sans-tux.1.zspr
/data/sprites/alttpr/santahat-link.1.zspr
/data/sprites/alttpr/santalink.3.zspr
/data/sprites/alttpr/saria.1.zspr
/data/sprites/alttpr/scholar.1.zspr
/data/sprites/alttpr/selan.2.zspr
/data/sprites/alttpr/sevens1ns.1.zspr
/data/sprites/alttpr/shade.1.zspr
/data/sprites/alttpr/shadow.1.zspr
/data/sprites/alttpr/shadowsaku.2.zspr
/data/sprites/alttpr/shaktool.1.zspr
/data/sprites/alttpr/shaktool-love.1.zspr
/data/sprites/alttpr/shantae.1.zspr
/data/sprites/alttpr/shiluna.1.zspr
/data/sprites/alttpr/shin.1.zspr
/data/sprites/alttpr/shinmyoumaru-sukuna.2.zspr
/data/sprites/alttpr/shopkeeper-link.1.zspr
/data/sprites/alttpr/shoujo.1.zspr
/data/sprites/alttpr/shuppet.2.zspr
/data/sprites/alttpr/shy-gal.1.zspr
/data/sprites/alttpr/shy-guy.1.zspr
/data/sprites/alttpr/sighn_waive.1.zspr
/data/sprites/alttpr/skunk.1.zspr
/data/sprites/alttpr/slime.1.zspr
/data/sprites/alttpr/slowpoke.2.zspr
/data/sprites/alttpr/snes-controller.2.zspr
/data/sprites/alttpr/sobble.2.zspr
/data/sprites/alttpr/sodacan.1.zspr
/data/sprites/alttpr/sokka.1.zspr
/data/sprites/alttpr/solaire.1.zspr
/data/sprites/alttpr/soldiersprite.1.zspr
/data/sprites/alttpr/sonic.1.zspr
/data/sprites/alttpr/sora.1.zspr
/data/sprites/alttpr/sora_kh1.1.zspr
/data/sprites/alttpr/spamton-g-spamton.1.zspr
/data/sprites/alttpr/spat.1.zspr
/data/sprites/alttpr/spikedroller.1.zspr
/data/sprites/alttpr/spiritendo.1.zspr
/data/sprites/alttpr/spongebob.1.zspr
/data/sprites/alttpr/spyro.2.zspr
/data/sprites/alttpr/squall.1.zspr
/data/sprites/alttpr/squiddy.1.zspr
/data/sprites/alttpr/squirrel.1.zspr
/data/sprites/alttpr/squirtle.1.zspr
/data/sprites/alttpr/stalfos.1.zspr
/data/sprites/alttpr/stan.2.zspr
/data/sprites/alttpr/staticlink.2.zspr
/data/sprites/alttpr/steamedhams.1.zspr
/data/sprites/alttpr/stick_man.1.zspr
/data/sprites/alttpr/stitch.1.zspr
/data/sprites/alttpr/superbomb.1.zspr
/data/sprites/alttpr/superbunny.2.zspr
/data/sprites/alttpr/supermeatboy.1.zspr
/data/sprites/alttpr/susie.1.zspr
/data/sprites/alttpr/swatchy.2.zspr
/data/sprites/alttpr/swiper.2.zspr
/data/sprites/alttpr/swirldrop.1.zspr
/data/sprites/alttpr/tasbot.1.zspr
/data/sprites/alttpr/teatime.1.zspr
/data/sprites/alttpr/teddiursa.1.zspr
/data/sprites/alttpr/terra.1.zspr
/data/sprites/alttpr/terry.1.zspr
/worlds/sonic_heroes/test.py
/data/sprites/alttpr/tetra.1.zspr
/data/sprites/alttpr/tgh.1.zspr
/data/sprites/alttpr/the-robot.1.zspr
/data/sprites/alttpr/thief.1.zspr
/data/sprites/alttpr/thinkdorm.1.zspr
/data/sprites/alttpr/thomcrow.1.zspr
/data/sprites/alttpr/tile.3.zspr
/data/sprites/alttpr/tingle.1.zspr
/data/sprites/alttpr/tmnt.1.zspr
/data/sprites/alttpr/toad.2.zspr
/data/sprites/alttpr/toadette.2.zspr
/data/sprites/alttpr/toadette_captain.1.zspr
/data/sprites/alttpr/totem-links.1.zspr
/data/sprites/alttpr/treymond.1.zspr
/data/sprites/alttpr/trogdor.3.zspr
/data/sprites/alttpr/tueffel.1.zspr
/data/sprites/alttpr/tunic.2.zspr
/data/sprites/alttpr/twilightprincesszelda.2.zspr
/data/sprites/alttpr/two_faced.2.zspr
/data/sprites/alttpr/ty.1.zspr
/data/sprites/alttpr/ufo-kirby.1.zspr
/data/sprites/alttpr/ultros.2.zspr
/data/sprites/alttpr/umbreon.2.zspr
/data/sprites/alttpr/unicorn.1.zspr
/data/sprites/alttpr/valeera.1.zspr
/data/sprites/alttpr/vanillalink.2.zspr
/data/sprites/alttpr/vaporeon.1.zspr
/data/sprites/alttpr/vegeta.1.zspr
/data/sprites/alttpr/vera.1.zspr
/data/sprites/alttpr/vitreous.1.zspr
/data/sprites/alttpr/vivi.1.zspr
/data/sprites/alttpr/vivian.1.zspr
/data/sprites/alttpr/wackerly.1.zspr
/data/sprites/alttpr/wario.1.zspr
/data/sprites/alttpr/whitemage.1.zspr
/data/sprites/alttpr/will.1.zspr
/data/sprites/alttpr/wizzrobe.2.zspr
/data/sprites/alttpr/wolf.1.zspr
/data/sprites/alttpr/wolf_link.1.zspr
/data/sprites/alttpr/wolf_link_tp.1.zspr
/data/sprites/alttpr/wuzaiiii.1.zspr
/data/sprites/alttpr/yoshi.1.zspr
/data/sprites/alttpr/yunica.2.zspr
/data/sprites/alttpr/zagreus.1.zspr
/data/sprites/alttpr/zandra.2.zspr
/data/sprites/alttpr/zaruvyen.2.zspr
/data/sprites/alttpr/zebraunicorn.1.zspr
/data/sprites/alttpr/zeck.3.zspr
/data/sprites/alttpr/zekrom.1.zspr
/data/sprites/alttpr/zelda.1.zspr
/data/sprites/alttpr/zerosuitsamus.2.zspr
/data/sprites/alttpr/zora.2.zspr
/worlds/astalon/
